<!DOCTYPE html>
<html>
<head>
	<title>Textify</title>
</head>
<body>
	<p>Please enter your text in the following box</p>
	<form action="/landingpage">
		<textarea name="text"></textarea><br />
		<input type="radio" name="outtype" value="wc" checked> Wordcloud<br />
		<p>Summarize using</p>
		<input type="radio" name="outtype" value="lexrank"> LexRank<br />
		<input type="radio" name="outtype" value="luhn"> LUHN<br />
		<input type="radio" name="outtype" value="lsa"> LSA<br />
		<input type="text" name="count" value=5><br />
		<input type="submit" value="Produce">
	</form> 

</body>
</html>