{% extends "layout.html" %}

{% block title %}Textify{% endblock %}

{% block body %}
	<p>📝 Please enter your text in the following box</p>
	<form action="/landingpage">
		<textarea name="text" rows="8"></textarea><br />
		<p>Make a</p>
		<input type="radio" class="radio" name="outtype" value="wc" checked> Wordcloud<br />
		<p>or, Summarize using</p>
		<input type="radio" name="outtype" value="lexrank"> LexRank<br />
		<input type="radio" name="outtype" value="luhn"> LUHN<br />
		<input type="radio" name="outtype" value="lsa"> LSA<br />
		Number of summary points: <input type="text" class="count" name="count" value=5><br />
		<input class="button" type="submit" value="Produce ✌">
	</form>
{% endblock %}